
.auto-complete-section {
    display: 'flex' !important;
    margin: 'auto' !important;
    width: '50%' !important;
    margin: 6%;
    margin-left: 22%;
    flex-direction: column !important;
    box-sizing: border-box;
}

.text-field-styles {
    width: 75%;
}

.label-styles {
    margin-right: 37%;
    font-size: 20px;
    margin-bottom: 2%;
    font-style: italic;
    margin-left: 23%;
}

.error-msg-styles {
    margin-left: 44% !important;
    font-weight: 700;
}

table {
    margin-bottom: 4%;
    margin-left: 41%;
    text-align-last: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 16%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.helpText:hover {
    color: blue;
}